    <div class="container">
        <div class="text-center">
            <h2>Search Genres <small data-bind="visible: (genresCount() > 0)"><img class="inverted" src="https://cdn3.iconfinder.com/data/icons/glypho-movie-and-video/64/theater-masks-512.png" width="25" height="25">[<span data-bind="text: genresCount"></span> ]</small></h2>
        </div>
        <div class="row margin-bottom-md">
            <form data-bind="submit: searchGenres">
                <div class="col-md-6 col-md-offset-2">
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">Genre Name:</span>
                        <input type="text" id="genreTitle" class="form-control" data-bind="value : searchText" aria-describedby="basic-addon1" placeholder="Genre name" />
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" id="searchBtn" data-bind="click: searchGenres, disable : searchTextGood"><i class="fa fa-search"></i></button>
                    <button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearGenres"><i class="fa fa-trash-o"></i></button>
                </div>
        </div>
    
        <div class="row margin-bottom-md" >
            <div class="col-md-10 col-md-offset-1" data-bind="foreach: genres">
                <div class="col-md-3 ">
                    <h3 class="genre"><a data-bind="attr: { href : '#GenreDetails/'+genreID}, text: genreName"></a></h3>
                </div>
        </div>
</div>
        <span class="alert alert-danger col-md-12" data-bind="visible: error, html: error"></span>


      


       