<div class="container">
    <div class="text-center">
        <h2>Search Movies <small data-bind="visible: (moviesCount() > 0)">by Name -  <i class="fa fa-film"></i> [<span data-bind="text: moviesCount"></span> ]</small></h2>
    </div>
    <div class="row margin-bottom-md">
        <form data-bind="submit: searchMovies">
            <div class="col-md-6 col-md-offset-2">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">Movie Name:</span>
                    <input type="text" id="movieTitle" class="form-control" data-bind="value : searchText, valueUpdate: 'afterkeydown'" aria-describedby="basic-addon1" placeholder="Movie name" />
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-default" id="searchBtn" data-bind="click: searchMovies, disable : searchTextGood"><i class="fa fa-search"></i></button>
                <button class="btn btn-default" id="clearSearchBtn" data-bind="click : clearMovies"><i class="fa fa-trash-o"></i></button>
            </div>
        </form>
    </div>

    <div class="row margin-bottom-md" data-bind="foreach: movies">

        <div class="col-md-2">

            <a data-bind="attr: { href : '#movieDetails/'+movieID}">
                <img class="img-thumbnail" data-bind="attr:{src: poster}" />
            </a>

            <!-- || '/Content/images/default_poster.jpg-->

        </div>

    </div>
