<div class="container nopad" data-bind="visible: getAllMovies">
    <div class="text-center">
        <h2>I should study ITW...</h2>
        <h1 class="welcome">... But i rather watch a movie!</h1>
    </div>
    <div class="col-md-12 nopad margin-bottom-md">
        <iframe src='http://www.videodetective.com/embed/video/?publishedid={INSERT PUBLISHEDID}&options=DangDang&autostart=true&playlist=ComingToTheaters' width="100%" height="480" frameborder='0' scrolling='no'></iframe>
    </div>
</div>



