<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        height: 360px;
        width: 20%;
        margin: auto;
    }
</style>
<div class="container" data-bind="visible: getAllMovies">
    <div class="text-center">
        <h3>Devia estudar ITW...</h3>
        <h1 class="welcome">Mas prefiro ver um filme</h1>
    </div>
 <div class="col-md-6">
        <h1><img src="https://cdn3.iconfinder.com/data/icons/food-icons-3/512/popcorn-512.png " width="50" height="50" />Prepare the popcorn!</h1><br>
        <div>
            This web site is  the BEST place on the internet to find awesome movies!<br />
            here you will be able to search our grand selection of movies , actors and directors great
            ,this site is powered by <img class="imdb_logo" src="http://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.pnghttp://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png" alt="IMDb Link" />
            you can also enjoy our free video player of  trailers from the upcoming  HOTTES  films coming soon
        </div>
    </div>
    <div class="col-md-6">
        <iframe src='http://www.videodetective.com/embed/video/?publishedid={INSERT PUBLISHEDID}&options=none&autostart=true&playlist=ComingToTheaters&width=&height=' frameborder='0' scrolling='no'></iframe>
    </div>
</div>

</div>
